@font-face {
  font-family: "Neon Lights";
  font-style: normal;
  font-weight: normal;
  src: local("Neon Lights"), url("neon2.woff") format("woff");
}

h1 {
  font-family: "Neon Lights";
  font-size: 4rem;
  animation: glow 1s ease-out infinite alternate;
}

.logo1 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 13s, 3s, 1s;
  animation-duration: 1s;
  text-align: center;
}

.logo2 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 6s, 4s, 2s;
  animation-duration: 2s;
  text-align: center;
}

.logo3 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 8s, 5s, 1s;
  animation-duration: 2s;
  text-align: center;
}

.logo4 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 7s, 4s, 2s;
  animation-duration: 2s;
  text-align: center;
}

.logo5 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 9s, 6s, 3s;
  animation-duration: 2s;
  text-align: center;
}

.logo6 {
  animation: flicker1, flicker1, flicker1;
  animation-delay: 7s, 5s, 2s;
  animation-duration: 2s;
  text-align: center;
}

@keyframes flicker1 {
  0% {
    opacity: 0.8;
  }
  9% {
    opacity: 0.8;
  }
  10% {
    opacity: 0.8;
  }
  13% {
    opacity: 0.8;
  }
  14% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
  23% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2037b6,
      0 0 40px #2037b6, 0 0 50px #2037b6, 0 0 60px #2037b6, 0 0 70px #2037b6;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4899f5, 0 0 40px #4899f5,
      0 0 50px #4899f5, 0 0 60px #4899f5, 0 0 70px #4899f5, 0 0 80px #4899f5;
  }
}
